.konteineris {
    width: 720px;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 5px 20px;
    padding: 10px;

    background: linear-gradient(#ecfbde, white);
}

img.foto {
    border: 1px solid black;
    margin: 0 20px 9px 0;
    padding: 5px;
}

.profilis {
    overflow: auto;
}

.profilis .foto {
    float: left;
}

h1 {
    font-size: 32px;
    color: darkgreen;
}

h2 {
    font-size: 24px;
    color: green;
    margin: 10px 0;
}

@keyframes boom {
    0% {
        width: 200px;

    }
    50% {
        width: 300px;

    }
    100% {
        width: 200px;
    }
}

.profilis .foto:hover {
    animation-name: boom;
    animation-duration: 2s;
}

.fb {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.laisva {
    height: 200px;
}

.youtube {
    margin-left: 80px;

}

.zemelapis {
    margin-left: 60px;
}

.sveikinimas {
    font-family: "Comic Sans MS";
    color: green;
    display: flex;
    justify-content: center;
}
.sveikinimas2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.logo
{
    margin-right: 10px;
}