body {
    font-family: Calibri;
        background-image: url("http://tennisballcourts.com/images/tennisball-footer.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

header {
    height: 70px;
   background-color: #989b98;
    animation-name:dd;
    animation-duration: 5s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes dd{
    from{background-color: green;}
        to {background-color :greenyellow;}

}
header ul {
    list-style: none;
}

header li {
    float: left;
    display: flex;
    height: 40px;
    align-items: center;
    border-right: 2px solid white;
}
header li:last-child{
    border:none;
}
header li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: bold;
}
.darbai li {

    display: inline-flex;

}
footer{
    text-align: center;
}

.sarasas li
{display: block;
margin: 5px;
    padding: 5px;
    font-family: Calibri;
    font-size: 12px;
    }
.forma input
{margin: 10px;
    color: green;
}